{% extends 'base.html.twig' %}

{% block title %}Hello MyAccountController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Vos demandes</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Chien</th>
					<th scope="col">Date</th>
					<th scope="col">Nouveaux messages</th>
				</tr>
			</thead>
			<tbody>
				{% for request in requests %}
					<tr>
						<td>{{ request.dog.name }}</td>
						<td>{{ request.message.first.creationDate|format_datetime('short', 'none') }}</td>
						<td>
							{% if request.unreadMessages() %}
								<svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-exclamation" viewbox="0 0 16 16">
									<path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
									<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
								</svg>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</ul>
</div>{% endblock %}
