{% extends 'base.html.twig' %}

{% block body %}
	<form class="d-flex flex-column justify-content-center w-25 mx-auto pt-5 px-5 pb-3" method="post">
			<div class="mb-3">
				<label for="inputUsername">Username</label>
				<input type="text" value="{{ last_username }}" class="form-control" id="inputUsername" name="username" autocomplete="username" autofocus required>
			</div>
			<div class="mb-3">
				<label for="inputPassword">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>
			<button type="submit" class="btn btn-primary">Se connecter</button>
		{% if error %}
			<div class="d-flex flex-column justify-content-center mx-auto alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<input
		type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	</form>
	<div class=" d-flex w-100">
			<a href="{{ path('registration_new')}}" class="mx-auto btn btn-info">Inscription</a>
	</div>
{% endblock %}	
